/* RESET CSS*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Reset end */

/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf') format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format(truetype);
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format(truetype);
    font-weight: 700;
} 

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-black.ttf') format(truetype);
    font-weight: 900;
} 

/* fonts end */

html {
    font-size: 1.46vw;
}

/* Container */

.container {
    width: 51.5rem;
    margin: 0 auto;
    padding: 0 .9rem;
    box-sizing: border-box;
}

.container a{
    color:white;
    text-decoration: none;
}

/* Block01 */

.block01 {
    position: relative;
    overflow: hidden;
    background: url(../images/top_bg.jpg) no-repeat top center / cover;    
    min-height: 100vh;
}

.block01__main {
    padding: 7.5rem 0 12.5rem;
}

.block01:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}

.block01__logo {
    float: left;
    display: inline-block;
    margin-top: 3rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2.75rem;
    line-height: 2.4rem;
    font-size: .75rem;
    font-weight: 100;
}





.nav__item {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 1.5rem;
}

.nav__item a:hover {
    color: #90d23d;
}

.block01__text1{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: white;
}

.block01__text2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: white;
}


/* Block 2*/

.block02__text1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.65rem;
}

.movie-list__names {
    font-size: 1.1rem;
}

.block02__text2 {
font-size: .7rem;
font-weight: 200;
width: 19.8rem;
}

.text1 {
    margin-bottom: 1rem;
}

.block02__text3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 6.5rem;
}

.block02__text4, .block02__text5 {
    text-align: center;
}

.block02__text4 {
    margin-bottom: 1.1rem;
    font-weight: 900;
    font-size: 1.75rem;
    font-weight: 900;
}

.block02__text5 {
    font-size: .7rem;
    font-weight: 300;
}

.block02__flexcont {
    display: flex;
    justify-content: space-between;
}

.block02__col1
{
    width: 33%; 
}

.portyanka {
    margin-left: 2.9rem;
}

.block02__image-wrap{
    height: 10.55rem;
}
.block02__image-wrap{
    position: relative;
    margin-bottom: 2rem;
}
.block02__image-wrap img{
    display:block;
    max-width:100%;
    height:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.block02__row
{
    overflow: hidden;
}

.block02__info-wrap {
    
    margin:0 auto;
    position: relative;
}

.block02 {
    padding-top: 3.9rem;
    
}

.block02__info {
    position: absolute;
    width: 22.75rem;
    padding: 2rem 1.5rem;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    top: -10rem;
    right: 0;
    z-index: 100;
}

.clear {
    clear: both;
}

/* Таблица старт */
.movie-list__table td {
    vertical-align: top;
}

.movie-list {
    padding-top:5rem;
}

.movie-list__header{
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    text-align: center; 
    margin-bottom: 3rem;    
}

.movie-list__text1 {
    font-size: .7rem;
    font-weight: 100;
    text-align: center;
    width: 41.5rem;
    margin: auto;
    margin-top: 2rem;
}

.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: .75rem;
    overflow: hidden;
}

.movie-list__table i {
    font-size: .75rem;
}


.movie-list__table th {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding:.75rem;
}

.movie-list__table thead {
    text-align: left;
}

.movie-list__table th:first-child {
    text-align: center;
}


.movie-list__table td:nth-child(1) {
    font-size: .9rem;
    color:#fff;
    text-align: center;
    width: 11rem;
    padding: .65rem;
}

.movie-list__table td:nth-child(2) {
    font-size: .9rem;
    color:#fff;
    padding-left:4rem;
    width: 15rem; 
    padding: .65rem;
}

.movie-list__table td:nth-child(3) {
    font-size: .9rem;
    color:#fff;
    width: 17.5rem;
    padding: .65rem;
}

.movie-list__table td:nth-child(4) {
    font-size: .9rem;
    color:#fff;
    width: 17.5rem;
    padding: .65rem;
}

.movie-list__table td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
    padding-top: .25rem;
}


.movie-list__table tr:nth-child(odd) {
    background:#373737;
}

.movie-list__table tr:nth-child(even) {
    background:#4b4d4f;
}

.movie-list__table tr:nth-child(3) {
    background:#6c6c6c;
}

.movie-list__table tr:hover td {
    color: rosybrown;
    cursor: pointer;
}

/*Таблица конец */

/*Block 4 */

.block04 {
    background: url(../images/b4_bg.jpg) no-repeat top center / cover;    
    height: 35rem;
    position: relative;
    margin: 5rem 0 2.5rem 0;
    overflow: hidden;
}

.block04:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 100vw solid transparent;
    border-top: 5.55rem solid #fff;
}

.block04:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}

.block04__button{
    display:block;
    float: right;
    width: 8rem;
    text-decoration: none;
    background: #a3cc40;
    color: #ffffff;
    border: 0.1rem solid #a3cc40;
    border-radius: .75rem;
    padding: 1rem 1.5rem; 
    font-size: .9rem;
    margin-top:1.5rem;
}

.block04__button:hover {
    background: transparent;
    color: #a3cc40;
    border:0.1rem solid #a3cc40;
}



.block04__img {
    position: absolute;
    display:block;
    border: 0px solid white;
    border-radius: 10rem;
    width: 15rem;
    height:15rem;
    overflow: hidden;
    box-shadow: 10.5px 18.187px 12px 0px rgba(35, 31, 32, 0.55);
}

.block04__img img {
    display:block;
    width:100%;
    height: 100%;
}

.block04__alltext {
    text-align: right;
    padding-top: 7.5rem;
    color: white;
    width: 33rem;
    float:right;
}

.block04__text1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 3rem;
}

.block04__text2 {
    font-size: .7rem;
    font-weight: 200;
    margin-bottom: .25rem;
}


  


/* Блок с фильмами */

.movie-grid{
    margin-bottom: 4rem;
}

.movie-grid__header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.movie-grid__headtext {
    font-size: .7rem;
    font-weight: 200;
    margin-bottom: 3rem;
}

.movie-grid__flex {
    display:  grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
}


.movie-grid__item {
    padding: .9rem;
}

.movie-grid__inner1 {
    position: relative;
    overflow: hidden;
}

.movie-grid__item:hover .movie-grid__discription {
    bottom: 0;
}

.movie-grid__discription {
    position: absolute;
    display:block;
    max-width:100%;
    max-height: 100%;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144,210,61,.8);
    border-radius: .75rem;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: .2s;
}

.movie-grid__text1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    margin: 0 0 .5rem;
}

.movie-grid__hr {
    width: 4rem;
    height: 0.4rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 .7rem;
    background: white;
}

.movie-grid__text2 {
    font-size: .9rem;
    color: white;
    flex: 1;
}

.movie-grid__svg {
    fill: white;
    transition: .2s;
}

.movie-grid__svg:hover {
    fill: green;
}

.movie-grid__links {
    display: flex;
}

.movie-grid__link1 + .movie-grid__link1 {
    padding-left: .3rem;
}



.movie-grid__poster img{
    display:block;
    height: 100%;
    width:100%;
}

.owl-nav {
    position: relative;
}

.owl-next {
    position: absolute;
    right: 0;
    
}

.owl-prev {
    position: absolute;
    left: 0;
    
}



/* footer */


.block07 {
    background-color: #8fc84e;
}

.block07__map {
    margin-bottom: 3rem;
}

.block07__icons {
    text-align: center;
    margin-bottom: 1.5rem;
}

/*.block07__svg {
    fill: white;
    transition: .2s; 
}*/

/* .block07__svg:hover {
    fill: green;
} */

.block07 svg g:hover {
    filter: url(#shadow);
}

.block07__text1 {
    font-size: .9rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: .3rem;
    color: white;

}

.block07 a {
    text-decoration: none;
}

.block07__text2 {
    padding-bottom:2.25rem;
}


#modalPresent,
#orderForm {
    display: none;
    position: fixed;
    width:100%;
    height:100vh;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    z-index: 1000;
    padding-top: 10rem;
}


#modalPresent .form__main,
#orderForm .form__main {
    background-color: #fff;
    width:30rem;
    
    margin:auto;
    border-radius: .5rem;
    position:relative;
}

#closeModalPresent,
#CloseOrderForm {
    position: absolute;
    font-size: 30px;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .simple-text {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 1000px) {
    html {
      font-size: 15px;
    }
  }

  @media (max-width: 800px) {
    .container {
      width: 40rem;
    }
    .nav__item {
        margin-left: .20rem;
    }
    .block01__text1 {
        font-size: 3.5rem;
    }
    .block01__text2 {
        font-size: 2.1rem;
    }
    .movie-list__wrap {
        overflow: auto;
    }
    .movie-list__table {
      width: 800px;
    }
    .block05__text2 {
      font-size: 1.5rem;
    }
    .block04__img{
        left:1rem;
    }
    .block01{
        min-height: 80vh;
    }
    .movie-grid__discription{
        padding:.5rem;
    }
    
  }

  @media (max-width: 600px) {
   .container {
      width: 30rem;
    }

  .menu-burger span,
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    width: 100%;
    left: 0;
    background: #fff;
    height: 1px;
    display: block;
    position: absolute;
  }
  .menu-burger {
    position: relative;
    width: 20px;
    height: 19px;
    cursor: pointer;
  }
  .menu-burger span {
    top: 9px;
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 3rem 1rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    width:20%;
  }

  .block01__logo img {
      width:70%;
  }

  .menu-wrap {
    margin-top:10px;
      width:10%;
  }

  .block02__info {
      position:static;
      width:80%;
      margin:auto;
      padding-bottom: 3rem;
  }

  .block02__flexcont {
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-list__text1 {
      width:100%;
  }

  .block04__img {
      width:10rem;
      height:10rem;
  }
  .block01__text1 {
      font-size: 2.5rem;
  }

  .block01__text2 {
    font-size: 1.6rem;
  }

  .simple-text {
      font-size:12.5px;
  }

  .movie-grid__flex {
      grid-template-columns: 1fr 1fr;
  }
 .block02__text3 {
     margin-top:3rem;
 }

 .block04__alltext {
     width:20rem;
     padding-top: 3rem;
 }
}

@media (max-width: 450px) {
 .container {
     width: 300px;
 }
 .block02__col1 {
     width:100%;
 }

 .block02__text2 {
     width:inherit;
 }

 .portyanka {
    margin-left: 0;
 }

 .block04__text1 {
     font-size: 2.2rem;
 }
 .block04__img{
    width:8rem;
    height:8rem;
}
.movie-grid__item {
    padding:0;
}

.movie-grid__text1 {
    font-size:1.2rem;
}

.movie-grid__text2 {
    font-size: .8rem;
}

.movie-grid__discription g {
    filter: url(#mobileiconsfilm);
}

}

.places {
    display: flex;
    margin: 30px;
}

.placeDiv {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    margin: 0 auto;
}

.placeBooking {
    background-color: #ffa500; 
}

.placeFree {
    background-color: #a3cc40;
}