.container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.grid__col1 {
    background-color: yellow;
}

.grid__col1:nth-child(2) {
    background-color: grey;
}