body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format(truetype);
    font-weight: 700;
}

.movie-list {
    padding:100px 0;
}

.movie-list__header{
    font-size: 50px;
    color: rgb(37, 37, 37);
    font-weight: 700px;
    margin: 0 0 78px;
    text-align: center;     
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.movie-list__table th {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding:19px;
}

.movie-list__table th:nth-child(1) {
    width: 183px;
    text-align: center;
}

.movie-list__table th:nth-child(2) {
    width: 620px;
    text-align: left;
    padding-left:80px 
}


.movie-list__table td:nth-child(1) {
    font-size: 22px;
    color:#fff;
    padding:18px;
    text-align: center;
}

.movie-list__table td:nth-child(2) {
    font-size: 22px;
    color:#fff;
    padding:18px;
    padding-left:80px; 
}

.movie-list__table td:nth-child(3) {
    font-size: 22px;
    color:#fff;
    padding:22px 25px 14px 6px;
}

.movie-list__table tr:nth-child(odd) {
    background:#373737;
}

.movie-list__table tr:nth-child(even) {
    background:#4b4d4f;
}




  